body{

    width: 80vw;
    margin: 0 auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #3d8d78;
    
}
h1, h2, h3
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header h1 {
text-align: center;
text-decoration: none;
font-size: 56px;
}
 header h1 a
{
 text-decoration: none;
}
p {
    color: #fffacd;
}
a{
     color: #fffacd;

}
nav div {

    width: 50%;
    float: left;
    border-style: inset dashed dashed inset ;
}
nav div h2 
{
    text-align: center;
    font-size: 24px;

}
 nav div ul 
 {
    list-style: none ;
    text-align: center;
    padding: 0;
    
 }
 nav div ul li {

    margin-bottom: 8px;
    font-size: 18px;
 }
 a:hover 
 {
    color:rgb (172, 180, 5);
 }
main#semi-elemant
{
    padding: 0%;
    float: left;
}
article#color .red {
    color: #FF0000;
}
main#Bord
{
 border-style: inset dashed dashed inset ;
}


article#flexbox div#example {
    width: 800px;
    height: 400px;
    display: flex;
}

article#flexbox div#example div {
    height: 200px;
    width: 200px;
    background-color: #d1d1f0;
}